/* LOGO */
.brand-logo{
  width: 2em;
  height: 2em;
}

/* BLOCKQUOTE ANIMATION */
blockquote {
    margin: 10px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #212121;
    -webkit-transition:  1s;
    -moz-transition:  1s;
    transition:  1s;
}

blockquote:hover{
    -webkit-transition:  1s;
    -moz-transition:  1s;
    transition:  1s;
    padding-left: 0.5rem;
}

/* ITEM SLIDER COLOR */
.slider .indicators .indicator-item.active {
  background-color: #304ffe;
}

/* TEXT SHADOWS */

.text-shadow-1{
  text-shadow: 0 2px 5px  rgba(0, 0, 0, 0.16), 0 2px 10px  rgba(0, 0, 0, 0.12);
}

.text-shadow-1-half{
  text-shadow: 0 4px 7px  rgba(0, 0, 0, 0.18), 0 4px 15px  rgba(0, 0, 0, 0.15);
}

.text-shadow-2 {
  text-shadow: 0 6px 9px  rgba(0, 0, 0, 0.2), 0 6px 20px  rgba(0, 0, 0, 0.19);
}

.text-shadow-3 {
  text-shadow: 0 8px 13px  rgba(0, 0, 0, 0.24), 0 17px 50px  rgba(0, 0, 0, 0.19);
}

/* FONTES ALTERNATIVAS */

@font-face {
	font-family: "Homestead-Display";
	src: local("Homestead-Display.ttf"), url("../fonts/homestead/Homestead-Display.ttf") format("opentype");
	}

@font-face {
	font-family: "Homestead-Inline";
	src: local("Homestead-Inline.ttf"), url("../fonts/homestead/Homestead-Inline.ttf") format("opentype");
	}

@font-face {
	font-family: "Homestead-One";
	src: local("Homestead-One.ttf"), url("../fonts/homestead/Homestead-One.ttf") format("opentype");
	}

@font-face {
	font-family: "Homestead-Two";
	src: local("Homestead-Two.ttf"), url("../fonts/homestead/Homestead-Two.ttf") format("opentype");
	}

@font-face {
	font-family: "Homestead-Three";
	src: local("Homestead-Three.ttf"), url("../fonts/homestead/Homestead-Three.ttf") format("opentype");
	}

@font-face {
	font-family: "Homestead-Regular";
	src: local("Homestead-Regular.ttf"), url("../fonts/homestead/Homestead-Regular.ttf") format("opentype");
	}

  .hs-font-inline {
    font-family: "Homestead-Inline", "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
  }

  .hs-font-display {
    font-family: "Homestead-Display", "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
  }

  .hs-font-regular {
    font-family: "Homestead-Regular", "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

/* BOTÕES DE CURSOS */
.cursos{
  height: 13rem;
  width: 9rem;
}

.icon-curso{
  margin: 1rem;
  height: 8rem;
  width: 8rem;
  transition:all 0.5s;
  opacity: 1;
}

.cursos:hover .icon-curso{
  opacity:0.2;
}

.titulo-curso{
  margin-top: -4em; 
  opacity: 0;
  transition:all 0.5s;
}

.cursos:hover .titulo-curso{
  opacity: 1;
}

.titulo-curso-mob{
  font-size: 130%;
}


    /* ANIMAÇÕES */

    @keyframes rodar{
      0%{
        transform:rotate(0deg);
      }
      50%{
        transform:rotate(200deg)
      }
      100%{
        transform:rotate(360deg);
      }
    }

/* PARALLAX EDITS */
.parallax-container {
      height: 300px;
    }

.parallax-title{
  padding-top: 5rem;
}

/* TABS EDITS */
.tabs .tab a{
  color: #3f51b5;
}

.tabs .tab a:hover{
  color: #7986cb;
}

.tabs .tab.disabled a{
  color: #7986cb;
}

.tabs .indicator{
  background-color: #5c6bc0;
}

/* SCROLLSPY EDITS */
.table-of-contents a:hover {
  color: #a8a8a8;
  padding-left: 19px;
  border-left: 1px solid #1a237e;
}

.table-of-contents a.active {
  font-weight: 500;
  padding-left: 18px;
  border-left: 2px solid #1a237e;
}

/* SUBTITULO NOTICIA */
.sub-noticia{
  font-size: 80%;
}

/* TEXTO DO BLOG */
.blog-text::first-letter{
  font-family: "Homestead-Regular", "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  font-size: 200%;
}