/* LOGO */
.brand-logo{
  width: 2em;
  height: 2em;
}


/* BLOCKQUOTE & ANIMATION */
blockquote{
  border-left: 5px solid #283593;
  padding-left: 0.5rem;
}

footer blockquote {
    margin: 10px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #212121;
    -webkit-transition:  1s;
    -moz-transition:  1s;
    transition:  1s;
}

footer blockquote:hover{
    -webkit-transition:  1s;
    -moz-transition:  1s;
    transition:  1s;
    padding-left: 0.5rem;
}

/* ITEM SLIDER COLOR */
.slider .indicators .indicator-item.active {
  background-color: #304ffe;
}

/* TEXT SHADOWS */

.text-shadow-1{
  text-shadow: 0 2px 5px  rgba(0, 0, 0, 0.16), 0 2px 10px  rgba(0, 0, 0, 0.12);
}

.text-shadow-1-half{
  text-shadow: 0 4px 7px  rgba(0, 0, 0, 0.18), 0 4px 15px  rgba(0, 0, 0, 0.15);
}

.text-shadow-2 {
  text-shadow: 0 6px 9px  rgba(0, 0, 0, 0.2), 0 6px 20px  rgba(0, 0, 0, 0.19);
}

.text-shadow-3 {
  text-shadow: 0 8px 13px  rgba(0, 0, 0, 0.24), 0 17px 50px  rgba(0, 0, 0, 0.19);
}

/* FONTES ALTERNATIVAS */

@font-face {
	font-family: "Homestead-Display";
	src: local("Homestead-Display.ttf"), url("../fonts/homestead/Homestead-Display.ttf") format("opentype");
	}

@font-face {
	font-family: "Homestead-Inline";
	src: local("Homestead-Inline.ttf"), url("../fonts/homestead/Homestead-Inline.ttf") format("opentype");
	}

@font-face {
	font-family: "Homestead-One";
	src: local("Homestead-One.ttf"), url("../fonts/homestead/Homestead-One.ttf") format("opentype");
	}

@font-face {
	font-family: "Homestead-Two";
	src: local("Homestead-Two.ttf"), url("../fonts/homestead/Homestead-Two.ttf") format("opentype");
	}

@font-face {
	font-family: "Homestead-Three";
	src: local("Homestead-Three.ttf"), url("../fonts/homestead/Homestead-Three.ttf") format("opentype");
	}

@font-face {
	font-family: "Homestead-Regular";
	src: local("Homestead-Regular.ttf"), url("../fonts/homestead/Homestead-Regular.ttf") format("opentype");
	}

  .hs-font-inline {
    font-family: "Homestead-Inline", "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
  }

  .hs-font-display {
    font-family: "Homestead-Display", "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
  }

  .hs-font-regular {
    font-family: "Homestead-Regular", "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

/* FORÇA O PADDING */
 .fm-1{
   margin: 1rem;
 }

 .fp-2{
   padding: 2rem;
 }

 .fp-3{
   padding: 3rem;
 }

/* BOTÕES DE CURSOS */

.cursos{
  height: 13rem;
  width: 9rem;
}

.icon-curso{
  margin: 1rem;
  height: 8rem;
  width: 8rem;
  transition:all 0.5s;
  opacity: 1;
}

.cursos:hover .icon-curso{
  opacity:0.2;
}

.titulo-curso{
  margin-top: -4em; 
  opacity: 0;
  transition:all 0.5s;
}

.cursos:hover .titulo-curso{
  opacity: 1;

}

.titulo-curso-mob{
  font-size: 130%;
}

/* BOTÕES REDE SOCIAIS */
 

  .logo-rs{
    height: 5rem;
    width: 5rem;
    margin: 1rem;
    opacity: 1;
    transition:all 0.5s;
  }

  .titulo-rs{
    margin-top: -4rem; 
    opacity: 0;
    transition:all 0.5s;
  }

  .rs:hover .logo-rs{
    opacity: 0.4;
    transition: all 0.5s;
  }

  .rs:hover .titulo-rs{
    opacity: 1;
  }

/* PARALLAX EDITS */
.parallax-container {
      height: 300px;
    }

.parallax-title{
  padding-top: 5rem;
}

/* TABS EDITS */
.tabs .tab a{
  color: #3f51b5;
}

.tabs .tab a:hover{
  color: #7986cb;
}

.tabs .tab.disabled a{
  color: #7986cb;
}

.tabs .indicator{
  background-color: #5c6bc0;
}

/* SCROLLSPY EDITS */
.table-of-contents a:hover {
  color: #a8a8a8;
  padding-left: 19px;
  border-left: 1px solid #1a237e;
}

.table-of-contents a.active {
  font-weight: 500;
  padding-left: 18px;
  border-left: 2px solid #1a237e;
}

/* SUBTITULO NOTICIA */
.sub-noticia{
  font-size: 80%;
}

/* TEXTO DO BLOG */
.blog-text{
  padding-left: 3rem;
}

.blog-text::first-letter{
  font-family: "Homestead-Regular", "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  font-size: 200%;
}

.card-blog{
  margin-top: 0rem;
}

.list-title{
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-color: #313131;
  border-style: solid; 
}

.sub-title{
  font-family: "Homestead-Regular", "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  padding-left: 5rem;
  color: #283593;
}

.collection .collection-item.avatar .title {
  display: inline;
}

.comentario{
  padding: 0.5rem;
}

.collection .collection-item.avatar .secondary-content {
  top: 6px;
}

.dislike, .like{
  color:#9e9e9e;
  transition: 0.5s;
}

.dislike:hover{
  color: #f44336;
  transition: 0.5s;
  text-shadow: 0 2px 5px  rgba(0, 0, 0, 0.16), 0 2px 10px  rgba(0, 0, 0, 0.12);
}

.like:hover{
  color: #4caf50;
  transition: 0.5s;
  text-shadow: 0 2px 5px  rgba(0, 0, 0, 0.16), 0 2px 10px  rgba(0, 0, 0, 0.12);
}

.comentarios-titulo{
  padding: 1rem 0rem 0rem 2rem;
}

.perfil-foto-mob{
  height: 5rem;
  width: 5rem;
  margin: 1rem;
}

.perfil-foto{
  height: 7rem;
  width: 7rem;
  margin: 1rem;
}

.perfil-nick{
  font-size: 2rem;
}

.pefil-comentatio{
  margin: 1rem;
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #283593;
  box-shadow: 0 1px 0 0 #283593;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #283593;
}

.input-field label { 
  color: #283593;
}
.input-field input[type=text]:focus + label {
  color: #283593;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid #283593;
  box-shadow: 0 1px 0 0 #283593;
}

/* SLIDER EDITS */
  .slide-btn-left{
    position: absolute;
    height: 3rem;
    width: 3rem;
    border-style: none;
    border-radius: 50%;
    top: 50%;
    left: 5%;
    z-index: 5;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
  }

  .slide-btn-left:hover{
    opacity: 1;
    transition: 0.5s;

  }
    .slide-btn-right{
    position: absolute;
    top: 50%;
    left: 90%;
    z-index: 5;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
  }

  .slide-btn-right:hover{
    opacity: 1;
    transition: 0.5s;
  }

/* CORPO DOCENTE */

  .corpo-docente > div > .tabs > .tab > a{
    font-size: 75%;
  }

  .corpo-docente > article{
    padding: 1rem;
  }

.corpo-docente a{
  color: #ffea00;
  transition: 0.5s;
}

.corpo-docente a:hover{
  color: #ffd600;
  border-bottom: 2px solid #ffd600; 
  transition: 0.5s;
}

/* COLLECTION EDITS */
.collection .secondary-content{
  color: black;
  font-weight: 900;
}

.collection .span-content{
  color: black;
  font-weight: 900;
}

.collection a.collection-item:not(.active):hover {
  background-color: #ffd600;
}

.collection .collection-item.desactive {
  background-color: #9e9e9e;
  border: 1px solid #e0e0e0;
}
.collection .collection-item.desactive:hover{
  background-color: #9e9e9e !important;
  cursor: default;
}
.collection .collection-item.no-link:hover{
  background-color: white !important;
  cursor: default;
}

/* EVENTOS */

.img-evento{
  border-radius: 5px;
}

.evento:hover .img-evento{
  opacity:0.4;
}

.titulo-evento{
  margin-top: -5em; 
  opacity: 0;
  transition:all 0.5s;
}

.evento:hover .titulo-evento{
  opacity: 1;
}

.titulo-evento-mob{
  font-size: 130%;
}
